/*454249*/
/*#d8b485*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}
header{
    background-color: #454249;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 40px;
}


body{
    background-image: url(images/rainbowwall.jpg);
    background-repeat: repeat;
    background-size: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    color: #454249;

}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20%;
}

footer{
    background-color: #181818;
    color:#d8b485 ;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
    width: 100%;
    align-items: center;
    }


.menu_header {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
    
.menu_header li {
    display: inline-block;
    margin-right: 10px;
}
.menu_header li:last-child {
    margin-right: 0;
}
    
.menu_header_itens {
    color: #ffffff;
    margin: 30px;
}

.menu_header_itens:hover{
    font-size: 22px;
}

#logo {
    height: 80px;
}
.corpo{
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
}


.texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.footer_texto {
    color: #d8b485;
    margin: 30px;
}


.corpo img {
    display: block;
    margin: 0 auto;
    width: 200px;
}

.texto {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
textarea{
    display: block;
    margin-bottom: 30px;
    width: 300px;
}